
# do next:
# dependencies
server/api-routes-rest-appnode_modules
server/api-routes-rest-app.pnp
server/api-routes-rest-app.pnp.js

# testing
server/api-routes-rest-appcoverage

# next.js
server/api-routes-rest-app.next/
server/api-routes-rest-appout/

# production
server/api-routes-rest-appbuild

# misc
server/api-routes-rest-app.DS_Store
server/api-routes-rest-app*.pem

# debug
server/api-routes-rest-appnpm-debug.log*
server/api-routes-rest-appyarn-debug.log*
server/api-routes-rest-appyarn-error.log*
server/api-routes-rest-app.pnpm-debug.log*

# local env files
server/api-routes-rest-app.env*.local

# vercel
server/api-routes-rest-app.vercel

# typescript
server/api-routes-rest-app*.tsbuildinfo
server/api-routes-rest-appnext-env.d.ts


# do react:

# Logs
cliente/my-veu-app/logs
cliente/my-veu-app/*.log
cliente/my-veu-app/npm-debug.log*
cliente/my-veu-app/yarn-debug.log*
cliente/my-veu-app/yarn-error.log*
cliente/my-veu-app/pnpm-debug.log*
cliente/my-veu-app/lerna-debug.log*

cliente/my-veu-app/node_modules
cliente/my-veu-app/dist
cliente/my-veu-app/dist-ssr
cliente/my-veu-app/*.local

# Editor directories and files
cliente/my-veu-app/.vscode/*
cliente/my-veu-app/!.vscode/extensions.json
cliente/my-veu-app/.idea
cliente/my-veu-app/.DS_Store
cliente/my-veu-app/*.suo
cliente/my-veu-app/*.ntvs*
cliente/my-veu-app/*.njsproj
cliente/my-veu-app/*.sln
cliente/my-veu-app/*.sw?
